@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-royal {
  @apply bg-gradient-to-r from-black via-purple-800 to-gray-300;
}

.text-royal {
  @apply text-white;
}

.button-royal {
  @apply bg-purple-700 hover:bg-purple-900 text-white font-bold py-2 px-4 rounded;
}
/*<uniquifier>: Use a unique and descriptive class name */
/*<weight>: Use a value from 100 to 900 */

/*.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */